<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deslize</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/error_styles.css">    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>
</head>
<body>

        <!-- Navbar -->

    <div class="nav flexme justifyme white_txt">
        <div class="logo flexme point_on">
            <img src="img/logo.svg" alt="deslize logo">
            Deslize
        </div>
    </div>

    <div class="cat flexme contain_me">
        <img src="img/75279-error.gif" class="cat_img">
        <div >
            <div class="oops">OOPS!!!</div>
            <div class="error_heading">Something Went Wrong <a href="/" class="error_back">Go Back</a> </div>
            
        </div>
    </div>

    <div class="error_end"></div>
    
</body>
</html>