    <!-- Functional scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        //---------------------------------------------------------------
        const carousel1 = $(".card1");
        const carousel2 = $(".card2");
        const carousel3 = $(".card3");        


        for(let i=1; i<=3; i++){

            const btn_right = ".move_right" + i;
            const btn_left = ".move_left" + i;
            const carousel = ".card" + i;
            $(btn_left).css("opacity", "0.2");
            $(btn_left).css("opacity", "0.2");
            $(btn_left).css("opacity", "0.2");
            let value=0;

            $(btn_right).on("click", function () {

                var total_cards;
                if(i == 1){
                    total_cards = carousel1.length;
                }
                else if(i == 2){
                    total_cards = carousel2.length;
                }
                else if(i == 3){
                    total_cards = carousel3.length;
                }
                // console.log(total_cards);
                
                if(window.innerHeight > window.innerWidth){
                    value=value-90
                }
                else{
                    value=value-55;
                }
                console.log(value);
                if((total_cards-1) * -55 >= value){
                    $(btn_right).css("opacity", "0.2");
                    value = (total_cards-1) * -55;
                }

                $(btn_left).css("opacity", "1");
                $(carousel).css("transform", "translateX(" + value + "vw)");           

            });

            $(btn_left).on("click", function () {

                if(window.innerHeight > window.innerWidth){
                    value=value+90
                }
                else{
                    value=value+55;
                }
                if(value >= 0){
                    $(btn_left).css("opacity", "0.2");
                    value=0;
                }

                $(btn_right).css("opacity", "1");
                $(carousel).css("transform", "translateX(" + value + "vw)");           

            });
        };

        const news_bg = $(".news--head").text();
        const name = news_bg.toLowerCase();

        // const imageUrl = "css/css_img/background%20images_c/technology.jpg";

        var l = name.length;
        var n = name.slice(1, l);
        
        const imageUrl = "css/css_img/background%20images_c/"+n+".jpg";

        $(".news_contain").css("background-image", "url(" + imageUrl + ")");

        //Time update
        // 28th Sep 2021, Tuesday 06:05:34 PM IST

        function updateClock(){
            const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const d = new Date();

            const nDate = new Date().toLocaleTimeString('en-US', {
                timeZone: 'Asia/Calcutta', hours:'long'
            });

            // var time = 

            var date = d.getDate()+ "th" + " " + month[d.getMonth()] + " " + d.getFullYear() + " "+ " " + nDate + " IST";
            // var time = nDate.slice(0, -6) +" " + nDate.slice(-2);
            document.getElementById("time").textContent = date;

        }

        function timeinit(){
            updateClock();
            window.setInterval("updateClock()", 1);

        }
       

        //----------------------------------------------------------------------------

    </script>
    
</body>
</html>