<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>

    <title>Deslize</title>
</head>
<body>

    <div class="container">

        <!-- Top strip -->

        <div class="strip flexme contain_me white_txt">
            <div>
                28th Sep 2021, Tuesday 06:05:34 PM IST
            </div>
        </div>

         <!-- Navbar -->

         <div class="nav flexme justifyme white_txt">
            <div class="logo flexme point_on">
                <img src="img/logo.svg" alt="deslize logo">
                Deslize
            </div>
            <div class="links flexme point_on">

                <div>Latest</div>
                <div>Politics</div>
                <div>Business</div>
                <div>Entertainment</div>
                <div>More</div>

            </div>
            <div class="cta point_on">
                Sign up Newsletter
            </div>
        </div>


        <!-- Website content -->

        <!-- Page 1------------------------------------------------------------------------------------------------------- -->

        <div class="home_contain contain_me white_txt">     
            
            <div class="home_content flexme">

                <div class="landing_text">
                    <div class="small_title">The Name You Know.</div>
                    <div class="large_title">The News You Need.</div>
                    <div class="content_title">Get short news. Stay updated just by reading 60 words. 
                        Only website where you can read top articles in a OTT platform like 
                        User Experience and not only that we delivers wide category of news.
                    </div>
                </div>

                <div class="landing_images">
                    
                </div>

            </div>

            <div class="mouse"> </div>

        </div>

        <!-- Page break -->

        <div class="page_break "></div>

        <!-- Page 2------------------------------------------------------------------------------------------------------- -->

        <div class="content_page contain_me img_page2">
            <div class="heading">
                LATEST
            </div>

            <!-- Move right -->
            <div class="move_left1 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

            <%for(let i=0; i<24; i++){%>

                <div class="card1">

                    <!-- top part -->
                    <div class="top">
                        <div class="thumbnail"></div>
                        <div class="div"></div>
                        <div class="title_info">
    
                            <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
    
                            <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                failing to provide promised suitors.
                            </div>
    
                            <div class="card_info flexme">
                                <div class="day">28 Sep 2021,Tuesday</div>
                                <div class="author">- Shreyasi Banerjee</div>
                            </div>
    
                        </div>
                    </div>

                    <!-- break -->
                    <div class="story">Story:</div>

                    <!-- bottom -->
                    <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                        to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                        as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                        The complainant and her father have been in touch with the matchmaker, 
                        but the latter chose not to reply to their e-mails, the forum stated.
                    </div>
    
                </div>

            <%}%>

            </div>

            <!-- Move right -->
            <div class="move_right1 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 3-------------------------------------------------------------------------------------------------------- -->
        
        <div class="content_page contain_me img_page3">
            <div class="heading">
                POLITICS
            </div>

            <!-- Move right -->
            <div class="move_left2 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

            <%for(let i=0; i<25; i++){%>

                <div class="card2">

                    <!-- top part -->
                    <div class="top">
                        <div class="thumbnail"></div>
                        <div class="div"></div>
                        <div class="title_info">
    
                            <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
    
                            <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                failing to provide promised suitors.
                            </div>
    
                            <div class="card_info flexme">
                                <div class="day">28 Sep 2021,Tuesday</div>
                                <div class="author">- Shreyasi Banerjee</div>
                            </div>
    
                        </div>
                    </div>

                    <!-- break -->
                    <div class="story">Story:</div>

                    <!-- bottom -->
                    <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                        to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                        as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                        The complainant and her father have been in touch with the matchmaker, 
                        but the latter chose not to reply to their e-mails, the forum stated.
                    </div>
    
                </div>

            <%}%>

            </div>

            <!-- Move right -->
            <div class="move_right2 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 4-------------------------------------------------------------------------------------------------------- -->
    
            <div class="content_page contain_me img_page4">
                <div class="heading">
                    BUSINESS
                </div>
    
                <!-- Move right -->
                <div class="move_left3 point_on"></div>
    
                <!-- Cards -->
                <div class="carousel ">
    
                <%for(let i=0; i<25; i++){%>
    
                    <div class="card3">
    
                        <!-- top part -->
                        <div class="top">
                            <div class="thumbnail"></div>
                            <div class="div"></div>
                            <div class="title_info">
        
                                <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
        
                                <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                    failing to provide promised suitors.
                                </div>
        
                                <div class="card_info flexme">
                                    <div class="day">28 Sep 2021,Tuesday</div>
                                    <div class="author">- Shreyasi Banerjee</div>
                                </div>
        
                            </div>
                        </div>
    
                        <!-- break -->
                        <div class="story">Story:</div>
    
                        <!-- bottom -->
                        <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                            to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                            as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                            The complainant and her father have been in touch with the matchmaker, 
                            but the latter chose not to reply to their e-mails, the forum stated.
                        </div>
        
                    </div>
    
                <%}%>
    
                </div>
    
                <!-- Move right -->
                <div class="move_right3 point_on"></div>               
    
            </div>        
    
    
            <!-- Page break -->
    
            <div class="page_break"></div>

        <!-- Page 5-------------------------------------------------------------------------------------------------------- -->

        <div class="categories_page contain_me ">

            <div class="heading" style="color: white;">
                CATEGORIES
            </div>

            <div class="all_category ">
                <div class="category latest_card point_on"> 
                    <div class="card_heading">Latest</div> 
                </div>
                <div class="category politics_card point_on"> 
                    <div class="card_heading">Politics</div></div>
                <div class="category business_card point_on">
                    <div class="card_heading">Business</div>                 
                </div>
                <div class="category sports_card point_on">
                    <div class="card_heading">Sports</div> 
                </div>
                <div class="category science_card point_on">
                    <div class="card_heading">Science</div>            
                </div>
                <div class="category tech_card point_on">
                    <div class="card_heading">Technology</div> 
                </div>
                <div class="category startup_card point_on">
                    <div class="card_heading">Startup</div> 
                </div>
                <div class="category entertainment_card point_on">
                    <div class="card_heading">Entertainment</div> 
                </div>
                <div class="category auto_card point_on">
                    <div class="card_heading">Automobile</div> 
                </div>
            </div>

        </div>
        




    </div>


    <!-- Functional scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>

        const carousel1 = $(".card1");
        const carousel2 = $(".card2");
        const carousel3 = $(".card3");        


        for(let i=1; i<=3; i++){

            const btn_right = ".move_right" + i;
            const btn_left = ".move_left" + i;
            const carousel = ".card" + i;
            $(btn_left).css("opacity", "0.2");
            $(btn_left).css("opacity", "0.2");
            $(btn_left).css("opacity", "0.2");
            let value=0;

            $(btn_right).on("click", function () {

                var total_cards;
                if(i == 1){
                    total_cards = carousel1.length;
                }
                else if(i == 2){
                    total_cards = carousel2.length;
                }
                else if(i == 3){
                    total_cards = carousel3.length;
                }
                // console.log(total_cards);
                value=value-55;
                console.log(value);
                if((total_cards-1) * -55 >= value){
                    $(btn_right).css("opacity", "0.2");
                    value = (total_cards-1) * -55;
                }

                $(btn_left).css("opacity", "1");
                $(carousel).css("transform", "translateX(" + value + "vw)");           

            });

            $(btn_left).on("click", function () {

                value=value+55;
                if(value >= 0){
                    $(btn_left).css("opacity", "0.2");
                    value=0;
                }

                $(btn_right).css("opacity", "1");
                $(carousel).css("transform", "translateX(" + value + "vw)");           

            });
        };




    </script>

    
</body>
</html>