<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
    </style>

    <title>Deslize</title>
</head>
<body>

    <div class="container">

        <div class="strip flexme contain_me white_txt">
            <div>
                28th Sep 2021, Tuesday 06:05:34 PM IST
            </div>
        </div>

        <div class="home_contain contain_me white_txt">

            <div class="nav flexme justifyme">
                <div class="logo flexme">
                    <img src="img/logo.svg" alt="deslize logo">
                    Deslize
                </div>
                <div class="links flexme point_on">
    
                    <div>Latest</div>
                    <div>Politics</div>
                    <div>Business</div>
                    <div>Entertainment</div>
                    <div>More</div>
    
                </div>
                <div class="cta">
                    Sign up Newsletter
                </div>
            </div>

            <div class="home_content flexme">

                <div class="landing_text">
                    <div class="small_title">The Name You Know.</div>
                    <div class="large_title">The News You Need.</div>
                    <div class="content_title">Get short news. Stay updated just by reading 60 words. 
                        Only website where you can read top articles in a OTT platform like 
                        User Experience and not only that we delivers wide category of news.
                    </div>
                </div>

                <div class="landing_images">
                    
                </div>

            </div>

            <div class="mouse">
                
            </div>

        </div>




    </div>

    
</body>
</html>