
<!-- header file -->
<%- include("header") -%>


    <div class="">

        <!-- Top strip -->

        <div class="strip flexme contain_me white_txt">
            <div>
                28th Sep 2021, Tuesday 06:05:34 PM IST
            </div>
        </div>

         <!-- Navbar -->

         <div class="nav flexme justifyme white_txt">
            <div class="logo flexme point_on">
                <img src="img/logo.svg" alt="deslize logo">
                Deslize
            </div>
            <div class="links flexme point_on">

                <a href="latest"> <div>Latest</div> </a>
                <a href="politics"> <div>Politics</div> </a>
                <a href="business"> <div>Business</div> </a>
                <a href="entertainment"> <div>Entertainment</div> </a>
                <a href="#category"> <div>More</div> </a>

            </div>
            <a href="#newsletter">
                <div class="cta point_on">
                    Sign up Newsletter
               </div>
            </a>

        </div>


        <!-- Website content -->

        <!-- Page 1------------------------------------------------------------------------------------------------------- -->

        <div class="home_contain contain_me white_txt">     
            
            <div class="home_content flexme">

                <div class="landing_text">
                    <div class="small_title">The Name You Know.</div>
                    <div class="large_title">The News You Need.</div>
                    <div class="content_title">Get short news. Stay updated just by reading 60 words. 
                        Only website where you can read top articles in a OTT platform like 
                        User Experience and not only that we delivers wide category of news.
                    </div>
                </div>

                <div class="landing_images">
                    
                </div>

            </div>

            <div class="mouse"> </div>

        </div>

        <!-- Page break -->

        <div class="page_break "></div>

        <!-- Page 2------------------------------------------------------------------------------------------------------- -->

        <div class="content_page contain_me img_page2">
            <div class="heading">
                LATEST
            </div>

            <!-- Move right -->
            <div class="move_left1 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

            <%for(let i=0; i<24; i++){%>

                <div class="card1">

                    <!-- top part -->
                    <div class="top">
                        <div class="thumbnail"></div>
                        <div class="div"></div>
                        <div class="title_info">
    
                            <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
    
                            <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                failing to provide promised suitors.
                            </div>
    
                            <div class="card_info flexme">
                                <div class="day">28 Sep 2021,Tuesday</div>
                                <div class="author">- Shreyasi Banerjee</div>
                            </div>
    
                        </div>
                    </div>

                    <!-- break -->
                    <div class="story">Story:</div>

                    <!-- bottom -->
                    <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                        to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                        as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                        The complainant and her father have been in touch with the matchmaker, 
                        but the latter chose not to reply to their e-mails, the forum stated.
                    </div>
    
                </div>

            <%}%>

            </div>

            <!-- Move right -->
            <div class="move_right1 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 3-------------------------------------------------------------------------------------------------------- -->
        
        <div class="content_page contain_me img_page3">
            <div class="heading">
                POLITICS
            </div>

            <!-- Move right -->
            <div class="move_left2 point_on"></div>

            <!-- Cards -->
            <div class="carousel ">

            <%for(let i=0; i<25; i++){%>

                <div class="card2">

                    <!-- top part -->
                    <div class="top">
                        <div class="thumbnail"></div>
                        <div class="div"></div>
                        <div class="title_info">
    
                            <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
    
                            <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                failing to provide promised suitors.
                            </div>
    
                            <div class="card_info flexme">
                                <div class="day">28 Sep 2021,Tuesday</div>
                                <div class="author">- Shreyasi Banerjee</div>
                            </div>
    
                        </div>
                    </div>

                    <!-- break -->
                    <div class="story">Story:</div>

                    <!-- bottom -->
                    <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                        to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                        as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                        The complainant and her father have been in touch with the matchmaker, 
                        but the latter chose not to reply to their e-mails, the forum stated.
                    </div>
    
                </div>

            <%}%>

            </div>

            <!-- Move right -->
            <div class="move_right2 point_on"></div>               

        </div>        


        <!-- Page break -->

        <div class="page_break"></div>

        <!-- Page 4-------------------------------------------------------------------------------------------------------- -->
    
            <div class="content_page contain_me img_page4">
                <div class="heading">
                    BUSINESS
                </div>
    
                <!-- Move right -->
                <div class="move_left3 point_on"></div>
    
                <!-- Cards -->
                <div class="carousel ">
    
                <%for(let i=0; i<25; i++){%>
    
                    <div class="card3">
    
                        <!-- top part -->
                        <div class="top">
                            <div class="thumbnail"></div>
                            <div class="div"></div>
                            <div class="title_info">
        
                                <div class="card_time"> <div class="dot"></div> 12:18 pm </div>
        
                                <div class="card_title">1 .Mumbai matchmaker told to refund money for 
                                    failing to provide promised suitors.
                                </div>
        
                                <div class="card_info flexme">
                                    <div class="day">28 Sep 2021,Tuesday</div>
                                    <div class="author">- Shreyasi Banerjee</div>
                                </div>
        
                            </div>
                        </div>
    
                        <!-- break -->
                        <div class="story">Story:</div>
    
                        <!-- bottom -->
                        <div class="bottom">A consumer court has ordered a matchmaker from Mumbai 
                            to refund ₹55,000 to a woman for failing to provide 15 suitors per month, 
                            as promised. The matchmaker will also have to pay ₹5,000 as compensation. 
                            The complainant and her father have been in touch with the matchmaker, 
                            but the latter chose not to reply to their e-mails, the forum stated.
                        </div>
        
                    </div>
    
                <%}%>
    
                </div>
    
                <!-- Move right -->
                <div class="move_right3 point_on"></div>               
    
            </div>        
    
    
            <!-- Page break -->
    
            <div class="page_break"></div>

        <!-- Page 5-------------------------------------------------------------------------------------------------------- -->

        <div class="categories_page contain_me ">

            <div class="heading" style="color: white;">
                CATEGORIES
            </div>

            <section class="all_category " id="category">

                <a href="latest" class="category latest_card point_on">
                        <div class="card_heading">Latest</div> 
                </a>
                
                <a href="politics" class="category politics_card point_on"> 
                    <div class="card_heading">Politics</div></a>

                <a href="business" class="category business_card point_on">
                    <div class="card_heading">Business</div>                 
                </a>

                <a href="sports" class="category sports_card point_on">
                    <div class="card_heading">Sports</div> 
                </a>

                <a href="science" class="category science_card point_on">
                    <div class="card_heading">Science</div>            
                </a>

                <a href="technology" class="category tech_card point_on">
                    <div class="card_heading">Technology</div> 
                </a>

                <a href="startup" class="category startup_card point_on">
                    <div class="card_heading">Startup</div> 
                </a>

                <a href="entertainment" class="category entertainment_card point_on">
                    <div class="card_heading">Entertainment</div> 
                </a>

                <a href="automobile" class="category auto_card point_on">
                    <div class="card_heading">Automobile</div> 
                </a>
            </section>

        </div>

            <!-- Page break -->
        
            <div class="page_break"></div>
        

        <!-- Page 6-------------------------------------------------------------------------------------------------------- -->

        <section class="newsletter_page contain_me img_newsletter" id="newsletter">
            <div class="news_head">
                NEWSLETTER
            </div>             

        </section>   

        <!-- Footer -->
        <div class="footer">

        </div>




    </div>



<!-- footer file -->
<%- include("footer") -%>
