/* Universal------------------------------------------------------------------------------- */
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  letter-spacing: 0.01vw;
  background-color: black;
}

.contain_me {
  padding-left: 6.6vw;
  padding-right: 6.6vw;
}

.flexme {
  display: flex;
  align-items: center;
}

.justifyme {
  justify-content: space-between;
}

.white_txt {
  color: rgba(255, 255, 255, 0.829);
}

.point_on {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* Home---------------------------------------------------------------------------------------- */

.strip {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0.9vw;
  background-color: #060f10b4;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.home_contain {
  height: 52vw;
  background-image: url("css_img/background images_c/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.nav {
  z-index: 10;
  position: absolute;
  left: 6.6vw;
  right: 6.6vw;
  top: 4.35vw;
}

.logo {
  font-size: 1.55vw;
}

.logo img {
  margin-right: 0.5vw;
  width: 1.7vw;
}

.links {
  font-size: 1.12vw;
}

.links a,
.all_category a,
.nav a {
  text-decoration: none;
  color: white;
}

.links div {
  position: relative;
  right: 4vw;
  opacity: 0.6;
  font-weight: 300;
  padding-right: 4.5vw;
  transition: opacity 0.5s;
}

.links div:hover {
  opacity: 0.8;
}

.cta {
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 25px;
  color: #000d11c2;
  font-weight: 700;
  padding: 0.25vw 1vw 0.25vw 1vw;
  border: 0.2vw solid #000d11da;
  transition: all 0.3s;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 25px;
}

/* Home page content */

.landing_text {
  margin-top: 18vw;
}

.small_title {
  font-size: 2vw;
}

.large_title {
  margin-top: -0.8vw;
  font-size: 3.4vw;
  font-weight: 600;
}

.content_title {
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 300;
  opacity: 0.6;
  width: 33vw;
}

/* Mouse scroll animation */

.mouse {
  width: 1.8vw;
  height: 3vw;
  background-image: url("css_img/mouse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 8vw;
  animation: up 3s infinite;
  -webkit-animation: up 3s infinite;
}

@keyframes up {
  50% {
    top: 10vw;
  }
  100% {
    top: 8vw;
  }
}

/* Page Break */

.page_break {
  border-bottom: 0.25vw dashed white;
}

/* Universal page content styles */

.content_page {
  background-size: contain;
  position: relative;
  height: 47vw;
}

.heading {
  position: absolute;
  top: 2vw;
  color: rgba(255, 255, 255, 0.315);
  font-size: 3.3vw;
  font-weight: 600;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  position: absolute;
  top: 13vw;
  left: 12vw;
  width: 76%;
  overflow: hidden;
}

/* Multiple icons to switch in javascript */

.move_left1,
.move_left2,
.move_left3,
.move_right1,
.move_right2,
.move_right3 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  background-size: contain;
  top: 22vw;
}

.move_left1,
.move_left2,
.move_left3 {
  background-image: url("css_img/left.svg");
  left: 6vw;
}

.move_right1,
.move_right2,
.move_right3 {
  background-image: url("css_img/right.svg");
  right: 6vw;
}

/* JS dependencies -------------------------------------------------- */

/* .move_forward {
  
}

.move_backward {
  transform: translateX(50vw);
} */

/* JS dependencies END -------------------------------------------------- */

/* Main news card styles --------------------------------------------------- */

.card1,
.card2,
.card3 {
  padding: 1vw;
  width: 50vw;
  height: 22vw;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 0.3vw;
  margin-right: 3vw;
  transform: translateX(0);
  transition: 1.5s ease;
}

/* top part */
.top {
  display: grid;
  grid-template-columns: 1fr 0.07fr 1.2fr;
}

/* Top left */
.thumbnail {
  display: flex;
  align-items: center;
  height: 12vw;
  overflow: hidden;
  background-color: rgb(187, 187, 187);
}

.thumbnail_image {
  width: 100%;
  opacity: 0.9;
  filter: brightness(0.4);
  filter: contrast(1.2);
  -webkit-filter: contrast(1.2);
}

/* Top right */
.title_info {
  margin-top: 1vw;
  height: 11vw;
  padding-right: 1vw;
  position: relative;
}

.dot {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background-image: url("css_img/dot.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_time {
  font-size: 1.6vw;
  font-weight: 600;
}

.card_title {
  font-size: 1.4vw;
  font-weight: 600;
  color: #001214;
}

.card_info {
  position: absolute;
  bottom: 0;
  /* top: 1.6vw; */
}

.day,
.author {
  font-size: 1vw;
  font-weight: 500;
}

.author {
  margin-left: 8.5vw;
}

/* Middle break */
.story {
  font-size: 1.2vw;
  font-weight: 600;
  margin-top: 0.8vw;
}

/* Bottom part */
.bottom {
  font-size: 1.1vw;
  font-weight: 500;
}

/* Main news card styles END --------------------------------------------------- */

/* Styles specific to each section */

/* Page 2 */

.img_page2 {
  background-image: url("css_img/background images_c/latest.jpg");
}

/* Page 3 */

.img_page3 {
  background-image: url("css_img/background images_c/politics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page 4 */

.img_page4 {
  background-image: url("css_img/background images_c/business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page 5 */

.categories_page {
  background-image: url("css_img/background images_c/categories.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 66vw;
}

.all_category {
  position: absolute;
  top: 10vw;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
}

.category {
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vw;
  width: 27vw;
  margin-right: 2vw;
  margin-bottom: 3vw;
  background-color: aliceblue;
  border-radius: 0.3vw;
  transition: all 1s;
}

.category:hover {
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.card_heading {
  color: rgba(255, 255, 255, 0.781);
  font-size: 1.45vw;
  margin-left: 1.3vw;
  margin-top: 1.2vw;
}

.latest_card {
  background-image: url("css_img/cards/latest.jpg");
}

.politics_card {
  background-image: url("css_img/cards/politics.jpg");
}

.business_card {
  background-image: url("css_img/cards/business.jpg");
}

.sports_card {
  background-image: url("css_img/cards/sports.jpg");
}

.science_card {
  background-image: url("css_img/cards/science.jpg");
}

.tech_card {
  background-image: url("css_img/cards/tech.jpg");
}

.startup_card {
  background-image: url("css_img/cards/startup.jpg");
}

.entertainment_card {
  background-image: url("css_img/cards/entertainment.jpg");
}

.auto_card {
  background-image: url("css_img/cards/auto.jpg");
}

/* Page 6 */

.newsletter_page {
  background-size: contain;
  position: relative;
  height: 44vw;
}

.img_newsletter {
  background-image: url("css_img/background images_c/newsletter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news_head {
  color: white;
  text-align: center;
  padding-top: 2.8vw;
  font-size: 3.3vw;
  font-weight: 600;
  margin-bottom: 4vw;
}

.newsletter_form {
  margin-top: 3vw;
  height: 23vw;
  flex-direction: column;
  background-color: #b4b4b495;
  margin: auto;
  width: fit-content;
  padding: 0.8vw;
  border-radius: 0.3vw;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(32, 32, 32);
  font-size: 1.2vw;
  font-weight: 300;
  opacity: 0.6; /* Firefox */
}

input {
  font-size: 1.3vw;
  margin-top: 2.5vw;
  width: 25vw;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #000411;
  border-bottom: 0.155vw solid #312f2f;
}

button {
  margin-top: 2.2vw;
  font-size: 1.2vw;
  width: 26vw;
  background-color: #000411;
  color: white;
  border: none;
  border-radius: 0.3vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
}

/* Footer */

.footer {
  position: relative;
  height: 5vw;
  background-color: #00030c;
}

.social_media {
  position: relative;
  top: 0.4vw;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
}

.s_icon {
  opacity: 0.7;
  margin-left: 1.5vw;
  transition: opacity 0.5s ease;
  font-size: 2vw !important;
}

.s_icon:hover {
  opacity: 0.9;
}

.my_name {
  font-size: 0.6vw;
  color: white;
  position: absolute;
  right: 0.6vw;
  bottom: 0.6vw;
}

/* News pages */

.movedown {
  top: 38vh;
}

.movedown_arrow {
  top: 55vh;
}

.news_contain {
  height: 100vh;
  background-image: url("css_img/background images_c/politics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news--head {
  padding-top: 17vh;
  font-size: 4.5vw;
  opacity: 0.35;
  font-weight: 700;
  color: white;
}

.back {
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 1.5vw;
  transition: all 0.8s;
}

.back_icon {
  font-size: 1.3vw !important;
  position: relative;
  top: 0.1vw;
  margin-right: 0.1vw;
}

.back:hover {
  opacity: 0.9;
}
