/* Universal------------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  letter-spacing: 0.01vw;
  background-color: black;
}

.contain_me {
  padding-left: 6.6vw;
  padding-right: 6.6vw;
}

.flexme {
  display: flex;
  align-items: center;
}

.justifyme {
  justify-content: space-between;
}

.white_txt {
  color: rgba(255, 255, 255, 0.829);
}

.point_on {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* Home---------------------------------------------------------------------------------------- */

.strip {
  font-size: 0.9vw;
  background-color: #060f10;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.home_contain {
  height: 52vw;
  background-image: url("css_img/home_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.nav {
  position: absolute;
  left: 6.6vw;
  right: 6.6vw;
  top: 4.35vw;
}

.logo {
  font-size: 1.55vw;
}

.logo img {
  margin-right: 0.5vw;
  width: 1.7vw;
}

.links {
  font-size: 1.12vw;
}

.links div {
  position: relative;
  right: 4vw;
  opacity: 0.6;
  font-weight: 300;
  margin-right: 4.5vw;
}

.cta {
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.605);
  border-radius: 25px;
  color: #000d11c2;
  font-weight: 700;
  padding: 0.25vw 1vw 0.25vw 1vw;
  border: 2px solid #000d11da;
}

/* Home page content */

.landing_text {
  margin-top: 15vw;
}

.small_title {
  font-size: 2vw;
}

.large_title {
  margin-top: -0.8vw;
  font-size: 3.4vw;
  font-weight: 600;
}

.content_title {
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 300;
  opacity: 0.6;
  width: 33vw;
}

/* Mouse scroll animation */

.mouse {
  width: 1.8vw;
  height: 3vw;
  background-image: url("css_img/mouse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 8vw;
  animation: up 3s infinite;
  -webkit-animation: up 3s infinite;
}

@keyframes up {
  50% {
    top: 10vw;
  }
  100% {
    top: 8vw;
  }
}

/* Page Break */

.page_break {
  border-bottom: 0.25vw dashed white;
}

/* Universal page content styles */

.content_page {
  background-size: contain;
  position: relative;
  height: 47vw;
}

.heading {
  position: absolute;
  top: 2vw;
  color: rgba(255, 255, 255, 0.315);
  font-size: 3.3vw;
  font-weight: 600;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  position: absolute;
  top: 13vw;
  left: 12vw;
  width: 76%;
  overflow: hidden;
}

.move_left1,
.move_left2,
.move_left3,
.move_right1,
.move_right2,
.move_right3 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  background-size: contain;
  top: 22vw;
}

.move_left1,
.move_left2,
.move_left3 {
  background-image: url("css_img/left.svg");
  left: 6vw;
}

.move_right1,
.move_right2,
.move_right3 {
  background-image: url("css_img/right.svg");
  right: 6vw;
}

/* JS dependencies -------------------------------------------------- */

/* .move_forward {
  
}

.move_backward {
  transform: translateX(50vw);
} */

/* JS dependencies END -------------------------------------------------- */

/* Main news card styles --------------------------------------------------- */

.card1,
.card2,
.card3 {
  padding: 1vw;
  width: 50vw;
  height: 22vw;
  background-color: rgba(255, 255, 255, 0.904);
  border-radius: 0.3vw;
  margin-right: 3vw;
  transform: translateX(0);
  transition: 1.5s ease;
}

/* top part */
.top {
  display: grid;
  grid-template-columns: 1fr 0.07fr 1.2fr;
}

/* Top left */
.thumbnail {
  height: 12vw;
  background-color: rgb(44, 44, 44);
}

/* Top right */
.title_info {
  margin-top: 1vw;
  height: 11vw;
  padding-right: 1vw;
  position: relative;
}

.dot {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background-image: url("css_img/dot.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_time {
  font-size: 1.8vw;
  font-weight: 600;
}

.card_title {
  font-size: 1.3vw;
  font-weight: 600;
  color: #001214;
}

.card_info {
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  /* top: 1.6vw; */
}

.day,
.author {
  font-size: 1vw;
  font-weight: 500;
}

.author {
  margin-left: 8vw;
}

/* Middle break */
.story {
  font-size: 1.2vw;
  font-weight: 600;
  margin-top: 0.8vw;
}

/* Bottom part */
.bottom {
  font-size: 1.1vw;
  font-weight: 500;
}

/* Main news card styles END --------------------------------------------------- */

/* Styles specific to each section */

/* Page 2 */

.img_page2 {
  background-image: url("css_img/latest_bg.svg");
}

/* Page 3 */

.img_page3 {
  background-image: url("css_img/politics.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page 4 */

.img_page4 {
  background-image: url("css_img/business.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
