/* Universal------------------------------------------------------------------------------- */
* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
  letter-spacing: 0.01vw;
  background-color: black;
}

.contain_me {
  padding-left: 6.6vw;
  padding-right: 6.6vw;
}

.flexme {
  display: flex;
  align-items: center;
}

.justifyme {
  justify-content: space-between;
}

.white_txt {
  color: rgba(255, 255, 255, 0.829);
}

.point_on {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* Home---------------------------------------------------------------------------------------- */

.strip {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 0.9vw;
  background-color: #0000008e;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.home_contain {
  height: 52vw;
  background-image: url("css_img/background images_c/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Navbar */

.nav {
  z-index: 10;
  position: absolute;
  left: 6.6vw;
  right: 6.6vw;
  top: 4.35vw;
}

.logo {
  font-size: 1.55vw;
}

.logo img {
  margin-right: 0.5vw;
  width: 1.7vw;
}

.links {
  font-size: 1.12vw;
}

.links a,
.all_category a,
.nav a {
  text-decoration: none;
  color: white;
}

.links div {
  position: relative;
  right: 4vw;
  opacity: 0.6;
  font-weight: 300;
  padding-right: 4.5vw;
  transition: opacity 0.5s;
}

.links div:hover {
  opacity: 0.8;
}

.cta {
  font-size: 1vw;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 25px;
  color: #000d11c2;
  font-weight: 700;
  padding: 0.25vw 1vw 0.25vw 1vw;
  border: 0.2vw solid #000d11da;
  transition: all 0.3s;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 25px;
}

/* Home page content */

.home_content {
}

.landing_text {
  margin-top: 18vw;
}

.small_title {
  font-size: 2vw;
}

.large_title {
  margin-top: -0.8vw;
  font-size: 3.4vw;
  font-weight: 600;
}

.content_title {
  text-align: justify;
  font-size: 1.3vw;
  font-weight: 300;
  opacity: 0.6;
  width: 33vw;
}

.landing_images {
  opacity: 0.75;
  position: absolute;
  mix-blend-mode: luminosity;
  right: 0;
  top: 15vw;
  left: 50vw;
  height: 28vw;
  -webkit-border-radius: 0.4vw;
  -moz-border-radius: 0.4vw;
  -ms-border-radius: 0.4vw;
  -o-border-radius: 0.4vw;
}

.upper {
  position: relative;
  width: 100%;
  height: 40%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 15.8vw);
  /* transform: translateX(0); */
}

.lower {
  margin-top: 0.8vw;
  width: 100%;
  height: 56%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 20.8vw);
}

.home_card {
  height: 100%;
  background-color: rgb(47, 48, 48);
  margin-right: 0.8vw;
  transition: all 3s;
  overflow: hidden;
}

.c1 {
  width: 15vw;
  animation: moveSlideshow 14s linear infinite;
  -webkit-animation: moveSlideshow 14s linear infinite;
}

.c2 {
  width: 20vw;
  animation: moveSlideshow 22s linear infinite;
  -webkit-animation: moveSlideshow 22s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-630.6666%);
    -webkit-transform: translateX(-630.6666%);
    -moz-transform: translateX(-630.6666%);
    -ms-transform: translateX(-630.6666%);
    -o-transform: translateX(-630.6666%);
  }
}

.upper::before {
  content: "";
  background: linear-gradient(
    to right,
    rgb(9, 13, 14, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 100%;
  position: absolute;
  width: 30px;
  z-index: 2;
}

.lower::before {
  content: "";
  background: linear-gradient(
    to right,
    rgb(9, 13, 14, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 60%;
  position: absolute;
  width: 30px;
  z-index: 2;
}

.home_crsl_img {
  /*height: 100%;
  */
  width: 100%;
  filter: brightness(0.8);
  filter: contrast(1.5);
  -webkit-filter: brightness(0.8);
}

/* Mouse scroll animation */

.mouse {
  width: 1.8vw;
  height: 3vw;
  background-image: url("css_img/mouse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 8vw;
  animation: up 3s infinite;
  -webkit-animation: up 3s infinite;
}

@keyframes up {
  50% {
    top: 10vw;
  }
  100% {
    top: 8vw;
  }
}

/* Page Break */

.page_break {
  border-bottom: 0.25vw dashed white;
}

/* Universal page content styles */

.content_page {
  background-size: contain;
  position: relative;
  height: 47vw;
}

.heading {
  position: absolute;
  top: 2vw;
  color: rgba(255, 255, 255, 0.315);
  font-size: 3.3vw;
  font-weight: 600;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  position: absolute;
  top: 13vw;
  left: 12vw;
  width: 76%;
  overflow: hidden;
}

/* Multiple icons to switch in javascript */

.move_left1,
.move_left2,
.move_left3,
.move_right1,
.move_right2,
.move_right3 {
  width: 3vw;
  height: 3vw;
  position: absolute;
  background-size: contain;
  top: 22vw;
}

.move_left1,
.move_left2,
.move_left3 {
  background-image: url("css_img/left.svg");
  left: 6vw;
}

.move_right1,
.move_right2,
.move_right3 {
  background-image: url("css_img/right.svg");
  right: 6vw;
}

/* JS dependencies -------------------------------------------------- */

/* .move_forward {
  
}

.move_backward {
  transform: translateX(50vw);
} */

/* JS dependencies END -------------------------------------------------- */

/* Main news card styles --------------------------------------------------- */

.card1,
.card2,
.card3 {
  padding: 1vw;
  width: 50vw;
  height: 22vw;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 0.3vw;
  margin-right: 3vw;
  transform: translateX(0);
  transition: 1.5s ease;
}

/* top part */
.top {
  display: grid;
  grid-template-columns: 1fr 0.07fr 1.2fr;
}

/* Top left */
.thumbnail {
  display: flex;
  align-items: center;
  height: 12vw;
  overflow: hidden;
  background-color: rgb(187, 187, 187);
}

.thumbnail_image {
  width: 100%;
  opacity: 0.9;
  filter: brightness(0.4);
  filter: contrast(1.2);
  -webkit-filter: contrast(1.2);
}

/* Top right */
.title_info {
  margin-top: 1vw;
  height: 11vw;
  padding-right: 1vw;
  position: relative;
}

.dot {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  background-image: url("css_img/dot.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_time {
  font-size: 1.6vw;
  font-weight: 600;
}

.card_title {
  font-size: 1.4vw;
  font-weight: 600;
  color: #001214;
}

.card_info {
  position: absolute;
  bottom: 1vw;
  /* top: 1.6vw; */
}

.day {
  position: absolute;
  width: 30vw;
  left: 0vw;
  font-size: 1vw;
  font-weight: 500;
  opacity: 0.8;
}

.author {
  position: absolute;
  width: 30vw;
  right: -25vw;
  text-align: right;
  font-size: 1vw;
  font-weight: 500;
  opacity: 0.8;
}

/* Middle break */
.story {
  font-size: 1.2vw;
  font-weight: 600;
  margin-top: 0.8vw;
}

/* Bottom part */
.bottom {
  font-size: 1.1vw;
  font-weight: 500;
}

/* Main news card styles END --------------------------------------------------- */

/* Styles specific to each section */

/* Page 2 */

.img_page2 {
  background-image: url("css_img/background images_c/latest.jpg");
}

/* Page 3 */

.img_page3 {
  background-image: url("css_img/background images_c/politics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page 4 */

.img_page4 {
  background-image: url("css_img/background images_c/business.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page 5 */

.categories_page {
  background-image: url("css_img/background images_c/categories_new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 66vw;
}

.all_category {
  position: absolute;
  top: 10vw;
  display: grid;
  grid-template-columns: repeat(3, 30vw);
}

.category {
  background-repeat: no-repeat;
  background-size: cover;
  height: 15vw;
  width: 27vw;
  margin-right: 2vw;
  margin-bottom: 3vw;
  background-color: aliceblue;
  border-radius: 0.3vw;
  transition: all 1s;
}

.category:hover {
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.card_heading {
  color: rgba(255, 255, 255, 0.781);
  font-size: 1.45vw;
  margin-left: 1.3vw;
  margin-top: 1.2vw;
}

.latest_card {
  background-image: url("css_img/cards/latest.jpg");
}

.politics_card {
  background-image: url("css_img/cards/politics.jpg");
}

.business_card {
  background-image: url("css_img/cards/business.jpg");
}

.sports_card {
  background-image: url("css_img/cards/sports.jpg");
}

.science_card {
  background-image: url("css_img/cards/science.jpg");
}

.tech_card {
  background-image: url("css_img/cards/tech.jpg");
}

.startup_card {
  background-image: url("css_img/cards/startup.jpg");
}

.entertainment_card {
  background-image: url("css_img/cards/entertainment.jpg");
}

.auto_card {
  background-image: url("css_img/cards/auto.jpg");
}

/* Page 6 */

.newsletter_page {
  background-size: contain;
  position: relative;
  height: 44vw;
}

.img_newsletter {
  background-image: url("css_img/background images_c/newsletter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news_head {
  color: white;
  text-align: center;
  padding-top: 2.8vw;
  font-size: 3.3vw;
  font-weight: 600;
  margin-bottom: 4vw;
}

.newsletter_form {
  margin-top: 3vw;
  height: 23vw;
  flex-direction: column;
  background-color: #b4b4b495;
  margin: auto;
  width: fit-content;
  padding: 0.8vw;
  border-radius: 0.3vw;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(32, 32, 32);
  font-size: 1.2vw;
  font-weight: 300;
  opacity: 0.6; /* Firefox */
}

input {
  font-size: 1.3vw;
  margin-top: 2.5vw;
  width: 25vw;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #000411;
  border-bottom: 0.155vw solid #312f2f;
}

button {
  margin-top: 2.2vw;
  font-size: 1.2vw;
  width: 26vw;
  background-color: #000411;
  color: white;
  border: none;
  border-radius: 0.3vw;
  padding-top: 1.1vw;
  padding-bottom: 1.1vw;
}

/* Footer */

.footer {
  position: relative;
  height: 5vw;
  background-color: #00030c;
}

.social_media {
  position: relative;
  top: 0.4vw;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
}

.s_icon {
  opacity: 0.7;
  margin-left: 1.1vw;
  transition: opacity 0.5s ease;
  font-size: 2vw !important;
}

.s_icon:hover {
  opacity: 0.9;
}

.my_name {
  font-size: 0.6vw;
  color: white;
  position: absolute;
  right: 0.6vw;
  bottom: 0.6vw;
}

/* News pages */

.movedown {
  top: 38vh;
}

.movedown_arrow {
  top: 55vh;
}

.news_contain {
  height: 100vh;
  background-image: url("css_img/background images_c/politics.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.news--head {
  padding-top: 17vh;
  font-size: 4.5vw;
  opacity: 0.35;
  font-weight: 700;
  color: white;
}

.back {
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 1.5vw;
  transition: all 0.8s;
}

.back_icon {
  font-size: 1.3vw !important;
  position: relative;
  top: 0.1vw;
  margin-right: 0.1vw;
}

.back:hover {
  opacity: 0.9;
}

/* Mobile--------------------------------------------------------------------------------------------------------------------------- */

@media (orientation: portrait) {
  .contain_me {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  /* Home---------------------------------------------------------------------------------------- */

  .strip {
    font-size: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
  }

  .home_contain {
    height: 180vw;
    background-size: cover;
  }

  /* Navbar */

  .nav {
    left: 4vw;
    top: 13vw;
  }

  .logo {
    font-size: 6vw;
  }

  .logo img {
    margin-right: 2vw;
    width: 5vw;
  }

  .links {
    display: none;
  }

  .cta {
    display: none;
  }

  /* Home page content */

  .landing_text {
    margin-top: 40vw;
  }

  .small_title {
    font-size: 6vw;
  }

  .large_title {
    margin-top: -2vw;
    font-size: 10vw;
  }

  .content_title {
    font-size: 4vw;
    width: 86vw;
  }

  .landing_images {
    right: 0;
    left: 0;
    top: 108vw;
    height: 65vw;
  }

  .upper {
    grid-template-columns: repeat(15, 33.7vw);
  }

  .lower {
    margin-top: 1.7vw;
    grid-template-columns: repeat(15, 43.7vw);
  }

  .c1 {
    width: 32vw;
    transform: translateX(-10vw);
    animation: none;
    -webkit-animation: none;
    -webkit-transform: translateX(-10vw);
    -moz-transform: translateX(-10vw);
    -ms-transform: translateX(-10vw);
    -o-transform: translateX(-10vw);
  }

  .c2 {
    width: 42vw;
    transform: translateX(-50vw);
    animation: none;
    -webkit-animation: none;
    -webkit-transform: translateX(-50vw);
    -moz-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
    -o-transform: translateX(-50vw);
  }

  .upper::before {
    content: "";
    content: "";
    display: none;
  }

  .lower::before {
    content: "";
    display: none;
  }

  /* Mouse scroll animation */

  .mouse {
    display: none;
  }

  /* Page Break */

  .page_break {
    border-bottom: 0.75vw dashed white;
  }

  /* Universal page content styles */

  .content_page {
    height: 192vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  .heading {
    top: 6vw;
    font-size: 11vw;
    margin-left: 6vw;
  }

  .carousel {
    width: fit-content;
    top: 28vw;
    left: 10vw;
  }

  /* Multiple icons to switch in javascript */

  .move_left1,
  .move_left2,
  .move_left3,
  .move_right1,
  .move_right2,
  .move_right3 {
    width: 9vw;
    height: 9vw;
    top: 175vw;
  }

  .move_left1,
  .move_left2,
  .move_left3 {
    left: 15vw;
  }

  .move_right1,
  .move_right2,
  .move_right3 {
    right: 15vw;
  }

  .move_right1::before,
  .move_right2::before,
  .move_right3::before {
    content: "";
    width: 12vw;
    border-radius: 25px;
    height: 1.5vw;
    background-color: white;
    position: absolute;
    z-index: 20;
    right: 29vw;
    top: 3vw;
  }

  /* JS dependencies -------------------------------------------------- */

  /* .move_forward {
    
  }
  
  .move_backward {
    transform: translateX(50vw);
  } */

  /* JS dependencies END -------------------------------------------------- */

  /* Main news card styles --------------------------------------------------- */

  .card1,
  .card2,
  .card3 {
    color: white;
    background-color: #1d1d1d;
    width: 78vw;
    height: 140vw;
    border-radius: 0.6vw;
    margin-right: 10vw;
  }

  /* top part */
  .top {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Top left */
  .thumbnail {
    height: 40vw;
  }

  /* Top right */
  .title_info {
    margin-top: 3vw;
    height: 26vw;
    padding: 2vw;
  }

  .dot {
    width: 3vw;
    height: 3vw;
  }

  .card_time {
    font-size: 5vw;
    font-weight: 400;
  }

  .card_title {
    font-size: 4vw;
    font-weight: 400;
    color: #ffffff;
  }

  .card_info {
    position: absolute;
    bottom: 1vw;
    display: flex;
    /* top: 1.6vw; */
  }

  .day {
    position: absolute;
    width: 30vw;
    left: 0;
    font-size: 3vw;
    font-weight: 300;
    opacity: 0.8;
  }

  .author {
    position: absolute;
    width: 30vw;
    right: 16vw;
    text-align: right;
    font-size: 3vw;
    font-weight: 300;
    opacity: 0.8;
  }

  /* Middle break */
  .story {
    font-size: 4vw;
    font-weight: 500;
    margin-top: 3.5vw;
    padding-left: 2vw;
  }

  /* Bottom part */
  .bottom {
    padding: 2vw;
    text-align: justify;
    font-size: 3.5vw;
    font-weight: 300;
    opacity: 0.8;
  }

  /* Main news card styles END --------------------------------------------------- */

  /* Styles specific to each section */

  /* Page 5 */

  .categories_page {
    height: 220vw;
  }

  .cat_head {
    opacity: 0.6;
    margin-left: 16vw;
  }

  .all_category {
    margin-left: 4vw;
    top: 28vw;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  .latest_card {
    grid-column: 1 / 3;
    width: 98% !important;
    height: 40vw !important;
  }

  .category {
    height: 30vw;
    width: 40vw;
    border-radius: 1vw;
  }

  .card_heading {
    font-size: 4vw;
    margin-left: 3vw;
    margin-top: 2vw;
  }

  /* Page 6 */

  .newsletter_page {
    height: 130vw;
  }

  .news_head {
    font-size: 11vw;
    margin-bottom: 10vw;
  }

  input {
    border-bottom: 0.5vw solid #312f2f;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(24, 24, 24);
    font-size: 4vw;
    font-weight: 300;
    opacity: 0.75; /* Firefox */
  }

  .newsletter_form {
    height: fit-content;
    padding: 3vw;
    border-radius: 1vw;
  }

  input {
    font-size: 4vw;
    margin-top: 6vw;
    margin-bottom: 2vw;
    width: 70vw;
  }

  button {
    margin-top: 6vw;
    font-size: 3vw;
    width: 72vw;
    border-radius: 1vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  /* Footer */

  .footer {
    overflow: hidden;
    height: 16vw;
  }

  .f_logo {
    font-size: 4vw !important;
  }

  .f_logo_img {
    width: 4vw !important;
  }

  .social_media {
    position: relative;
    top: 0.4vw;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
  }

  .s_icon {
    width: 5vw !important;
    margin-right: 2vw;
  }

  .my_name {
    font-size: 2vw;
    color: white;
    position: absolute;
    right: 1vw;
    bottom: 1vw;
  }

  /* News pages */

  .movedown {
    top: 17%;
  }

  .movedown_arrow {
    top: 87%;
  }

  .news_nav {
    top: 6vw;
  }

  .news_contain {
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .news--head {
    margin-left: 5vw;
    padding-top: 8.5vh;
    font-size: 8vw;
    font-weight: 500;
  }

  .back {
    opacity: 0.7;
    font-size: 4vw;
  }

  .back_icon {
    font-size: 4vw !important;
    top: 0.1vw;
    margin-right: 0.1vw;
  }

  /* Removals */

  .strip1 {
    display: none;
  }
}
